{% extends 'music/base.html' %}

{% block content %}
    <article>
        <header>
            <h2>{{ playlist.title }}</h2>
        </header>

        <ul>
            <li><strong>Description:</strong> {{ playlist.description }}</li>
            <li><strong>Genre(only top genre is shown):</strong>
                {% if playlist.top_genre %}
                    <a href="{% url 'genre_songs' playlist.top_genre.genre__id %}">{{ playlist.top_genre.genre__name }}</a>
                {% else %}
                    Mixed / Not specified
                {% endif %}
            </li>
            <li><strong>Duration:</strong> {{ playlist.total_duration_formatted }}</li>
            <li><strong>Access:</strong>
                {% if playlist.is_public %}Public 🌍
                {% else %}Private 🔒
                {% endif %}
            </li>
        </ul>

        <footer>
            <a href="{% url 'playlist_update' playlist.id %}" role="button" class="secondary" style="border-color: #279c25; border-width: 2px;">Modify</a>
            <a href="{% url 'playlist_delete' playlist.id %}" role="button" class="outline" style="border-color: #a12727; border-width: 2px;">Delete</a>
        </footer>
    </article>

    <h3 style="margin-top: 40px;">Songs in "{{ playlist.title }}": {{ playlist.songs.count }}</h3>

    {% if playlist.songs.all %}
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Genre</th>
                    <th>Duration</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for song in playlist.songs.all %}
                <tr>
                    <td><strong>{{ song.title }}</strong></td>
                    <td>{{ song.artist }}</td>
                    <td>
                        {% if song.genre %}
                            <a href="{% url 'genre_songs' song.genre.id %}">
                                {{ song.genre.name }}
                            </a>
                        {% else %}
                            <small>Not specified</small>
                        {% endif %}
                    </td>
                    <td>{{ song.formatted_duration }}</td>
                    <td><a href="{% url 'song_detail' song.id %}">Details</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>This playlist is empty.</p>
    {% endif %}

{% endblock %}